td,tr{
  padding: 1px !important;
  text-align: center !important; 
  vertical-align: middle !important;
 }

th{
  padding: 0px !important;
  text-align: center !important; 
  vertical-align: middle !important;
  font-size: 13px !important;  
  }



.App {
  text-align: center; 
  margin: 0px;
  padding: 0px;
}

.homeScreen{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows:repeat(1, 100vh)
}

.logo-Container{
  
   background-image: url('https://as2.ftcdn.net/v2/jpg/05/07/24/57/1000_F_507245750_KCVTYYzqhqt1UnFSU3fSerXQdwdn6jxl.jpg');
   background-size:cover;
 
 
}

.bg-container{
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows:repeat(3, minmax(min-content, 50px));
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgba(55, 132, 126, 0.705);
  color: white;
  padding-left:30px;
  padding-top: 180px;
  }

h3{
  font-size: 40px;
  text-align: start; 
}

#landingpagetext{
  font-weight: 600;
  text-align: start;
}

.slider-indicator{
  display: flex;
  flex-direction: row;
    }


.slider-bg{
  background-color: rgb(186, 184, 184);
  height: 10px;
  width: 50px;
  border-radius:10px;

}


#active-slide{
  background-color: white;
  height: 10px;
  width: 80px;
  border-radius:10px;
  margin: 0px 10px  0px 10px ;
}

.signup-container{
  display: flex;
  flex-direction: column;
  padding: 150px ;
  
  

}

.user-login-section{
  width: 99%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(1, 1fr);
  color: gray;
  font-weight: 600;
  text-align: start; 
  
}

.login-button-container{
  text-align: end;
}

.login-button{
  width: 100px;
  height: 40px;
  }

.text-container{
  text-align: start;
  margin-top: 30px;
}

#signup-text{
  color: gray;
  font-weight: 600;
  }

.lable-input-conatiner{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 10px;
}

label{
  color: rgb(78, 77, 77);
  font-size: 13px;
  font-weight:600;
}

input{
  height: 40px;
  color: rgb(71, 70, 70);
  border-radius: 5px;
  border-color: dodgerblue;
}

.signup-btn-container{
  margin-top: 20px;
}

.signup-btn{
  width: 100%;
  height: 40px;
  background-color: dodgerblue;
  border-style: none;
  border-radius: 5px;  
  color: white;
  font-size: medium;
  
}


/* clientmanagment */

.clientmanagement-main-div{
  background-color: rgba(223, 218, 218, 0.273);
  height: 90%;
  width: 97%;
  border-radius: 10px;
  margin: 20px;

}


.title-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 15px;
  padding: 20px;

}


.topBtn{
  height: 35px;
  width:max-content;
  margin-right: 15px;
   
}

.table--main-div{
  display:flex;
  flex-direction: column;
  width: 98%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:white;
  margin-left: 14px;

}

.table-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;

  }


  .t-head{
    background-color: rgba(195, 230, 250, 0.838);
           
  }

 

  .clientFormBtn{
    height: 40px;
    width: 70px;
    margin-top: 5px;
    margin-left: 5px;
    background-color:#2ea8db1a;
    border-radius:5px;
    border-style: none;
    color: gray;
    font-weight: 600;
  }

  .searchInnput{
    width: 270px;
  }

  .dot{
    height: 5px;
    width:5px;
    border-radius: 50%;
    background-color: rgba(106, 197, 249, 0.838) ;
    margin: 1px;
  }
  
  .dotbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
        
  }


  /* Client Form Section */

.main-container{
  background-color: rgba(223, 218, 218, 0.273);
  width: 98%;
  border-radius: 10px;
  margin-left: 15px;
  text-align: start;
  
}

.clientForm-title{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  gap: 25px;
  cursor: pointer;
}

.form-warppar{
  background-color: white;  
  width: 97%;
  margin: 25px;
  border-radius: 5px;
  height:auto;
  
}

.clientInfo{
  text-align: start;  
  padding: 20px;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: larger;
}


.form{  
  display: flex;
  flex-direction: column;
  width: 70%; 
  
}


.inputallignment{
  display: flex;
   
}

.label_input_container{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
 
}


input{
  margin-top: 5px;
  }

.addinputallignment{
  width: 98%;
}

.optional-input{
  height: 45px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  margin-top: 5px;
}

.options{
  background-color: white;
  border-radius: 10px;
}

.swiper{
  text-align: start;
  margin-left: 25px;
  
}

.file_input{
  display: none;
  border: 2px solid dodgerblue;
  width: 485px;
  height: 40px; 
  margin-left: 20px;
  border-radius: 5px;
  
}

.clnt-form-btns{
  margin-left: 30px;
}





